@font-face {
  font-family: "Shabnam";
  src: url("../fonts/Shabnam.woff2") format("woff2");
}

@font-face {
  font-family: "Shabnam Medium";
  src: url("../fonts/Shabnam-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Shabnam Bold";
  src: url("../fonts/Shabnam-Bold.woff2") format("woff2");
}
